.header {
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 2px solid black;
}
.header nav {
  justify-content: flex-end;
  margin-left: auto;
}
.header nav a{
  margin-left: 25px;
  margin-right: 25px;
  text-decoration: none;
}
.banner {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding: 1% 0 2% 0;
  border-bottom: 1px solid black;
}

.formCover {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form{
  width: 75%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}
